* {
	margin: 0px;
	padding: 0px;

}

body {
    background: url('../sources/background.png') no-repeat;
    background-size: cover;
    margin-bottom: 100px;
    cursor: default;
}

.cabecera {
	display: flex;
	min-height: 70px;
	background: #fff;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
}

.cabecera a {
	text-decoration: none;
	color: #000;
}

.logo {
	display: flex;
	align-items: center;
}

.logo_img {
	height: 40px;
	margin-right: 20px;
}

.logo_h2 {
	font-size: 180%;
    font-family: 'Cinzel Decorative', cursive, sans-serif;
}

nav a {
	font-size: 100%;
	font-weight: 600;
	color: #000;
	margin-right: 20px;
	text-decoration: none;
	font-family: 'Kanit', sans-serif, arial, monospace;
}

nav a:hover {
	transition: all 400ms ease;
    color: #d0d0d0;
}

@media (max-width:700px) {
	.cabecera {
		flex-direction: column;
		/*background: rgb(218,168,86);
background: 
linear-gradient(234deg, rgba(218,168,86,1) 1%, rgba(119,11,16,1) 51%, rgba(255,72,0,0.9612219887955182) 100%);*/
	}

	.cabecera2 {
		margin-top: 300px;
	}

	nav {
		padding: 10px 0px;
	}
   }

.cabecera2 {
	margin-top: 150px;
    margin-bottom: 20px;
    padding: 40px;
    text-align: center;
    background: #fff;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    transition: all 1s ease;
    background: #fff;
}

.cabecera2 img {
	width: 8%;
	min-width: 50px;
	margin-bottom: 10px;
}

.cabecera2 h1 {
	font-size: 250%;
	max-width: 100%;
	letter-spacing: 4px;
	font-family: 'Cinzel Decorative', cursive, sans-serif;
}

.cabecera2 h2 {
    font-size: 100%;
    font-family: 'Kanit', sans-serif, arial, monospace;
}

.box_description {
	width: 60%;
	text-align: center;
	background: rgba(0, 0, 0, 0.8);
	margin-left: auto;
	margin-right: auto;
	padding: 40px;
	margin-top: 5%;
	border-radius: 30px;
	transition: all 900ms ease;
}

.profile_me {
	width: 50%;
	min-width: 100px;
	border-radius: 20px;
}

.box_description h3 {
	margin-top: 10px;
	font-size: 2em;
	letter-spacing: 2px;
	color: #ffffff;
	margin-bottom: 20px;
	font-family: 'Roboto', sans-serif, arial, monospace;
	font-weight: 500;
}

.box_description h4 {
	font-size: 1em;
	letter-spacing: 3px;
	color: #d0d0d0;
	margin-bottom: 20px;
	font-family: 'Roboto', sans-serif, arial, monospace;
    font-weight: 600;
}

.paragraph_box {
	font-size: 1em;
	color: #d0d0d0;
	font-family: 'Roboto', sans-serif, arial, monospace;
	font-weight: 600;
}

.paragraph_box a {
	font-family: 'Cinzel Decorative', sans-serif, arial, monospace;
	font-weight: 600;
}

.last_picture {

	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.last_picture img {
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 20%;
	min-width: 200px;
	border-radius: 5px;
	transition: all 400ms ease;
}

.photos_button {
	background: linear-gradient(70deg, #fff, #75E7E8);
	border-radius: 5px;
	margin-top: 40px;
	color: #000;
	font-size: 20px;
	box-shadow: 10px 5px 25px rgba(0, 0, 0, 1.0);
	outline: none;
	border: none;
	width: 20%;
	min-width: 200px;
	font-weight: 600;
	line-height: 2em;
	font-family: 'Kanit', sans-serif, arial, monospace;
	transition: all 400ms ease;
}

.photos_button:hover {
	background: linear-gradient(70deg, #75E7E8, #fff);
    box-shadow: 40px 35px 65px rgba(0, 0, 0, 1.0);
    width: 27%;
    transition: all 400ms ease;
}

.logo_button {
	transform: translateY(3px);
	margin-right: 5px;
	width: 20px;
}

.song_container {
	width: 50%;
	padding: 10px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 40px;
	background: rgba(255,255,255,0.5);
	border-radius: 10px;
}

.song_container h4 {
    font-family: 'Kanit', sans-serif, arial, monospace;
    font-size: 140%;
    color: #000;
    margin-bottom: 3%;
}

.song_container iframe {
	border-radius: 15px;
	width: 75%;
	height: 250px;
}

ul {
	display: inline;
}

.instagram, .youtube {
	margin-top: 3%;
	width: 40px;
	transition: all 100ms ease;
	margin-right: 10px;
}

.instagram:hover, .youtube:hover {
	margin-top: 3%;
	transform: scale(0.9); /* reduce el tamaño al 90% al hacer hover */
	/*width: 30px;*/
	margin-right: 10px;
	transition: all 100ms ease;
	
}

.box_myphotos {
	margin-bottom: 0px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
}

.box_myphotos h3 {
    font-size: 3em;
    font-family: 'Kanit', sans-serif, arial, monospace;
    color: #fff;
    font-weight: 400;
}

.box_myphotos h4 {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
	font-family: 'Roboto', sans-serif, arial, monospace;
}

.box_myphotos h4 a {
	font-weight: 600;
}

.box_myphotos h5 {
	font-family: 'Roboto', sans-serif, arial, monospace;
	color: #fff;
	padding: 15px;
	font-weight: 400;
	font-size: 10px;
}

.box_myphotos h5 a {
	font-weight: 600;
}

.mp_photos {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.mp_photos img, video {
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	width: 20%;
	min-width: 200px;
	border-radius: 5px;
	transition: all 400ms ease;
	display: table-column;
}

.mp_photos img:hover, video:hover {
    transition: all 200ms ease;
	width: 30%;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9); /* Sombra ligera, más suave */
}

.box_bep {
   margin-top: 2%;
   text-align: center;
   padding: 40px;
   margin-left: auto;
   margin-right: auto;
}

.bep_logo {
	width: 25%;
	min-width: 300px;
}

.box_bep h4 {
	margin-top: 10px;
	font-size: 15px;
	color: #fff;
	font-weight: 400;
	font-family: 'Roboto', sans-serif, arial, monospace;
}

.box_bep h4 a {
    font-weight: 600;
}

.bep_photos {
	margin-left: auto;
	margin-right: auto;
}

.bep_photos img {
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	width: 20%;
	min-width: 200px;
	border-radius: 5px;
	transition: all 400ms ease;
	display: table-column;
}

.bep_photos img:hover {
	transition: all 200ms ease;
	width: 40%;
}

.post {
    width: 60%;
	text-align: center;
	background: rgba(0, 0, 0, 0.8);
	margin-left: auto;
	margin-right: auto;
	padding: 40px;
	margin-top: 5%;
	border-radius: 30px;
	transition: all 900ms ease;
}

.post h2 {
	margin-top: 10px;
	font-size: 2em;
	letter-spacing: 2px;
	color: #ffffff;
	margin-bottom: 20px;
	font-family: 'Roboto', sans-serif, arial, monospace;
	font-weight: 500;
}

.post .date {
	font-size: 1em;
	letter-spacing: 3px;
	color: #d0d0d0;
	margin-bottom: 20px;
	font-family: 'Roboto', sans-serif, arial, monospace;
    font-weight: 600;
}
.post .blog_content {
	font-size: 1em;
	color: #d0d0d0;
	font-family: 'Roboto', sans-serif, arial, monospace;
	font-weight: 600;
}

.footer_container {
	display: flex;
	justify-content: center;
	background: #fff;
	width: 55%;
	min-width: 280px;
	margin: 0 auto;
	padding: 0.8%;
	border-radius: 5px;
	text-align: center;
	margin-top: 5%;
}


.footer_container a {
	text-decoration: none;
	color: #000;
	font-family: 'Cinzel Decorative', cursive, sans-serif;
	font-size: 13px;
}

footer h6 {
	color: #000;
	font-family: 'Kanit', verdana, sans-serif, arial, monospace;
	font-size: 95%;
}
